 header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 7%;
}

img {
	margin: auto
	
}

.card{
	margin-left: auto;
	margin-right: auto;
}

.textbox{
	width: 45%;
	margin-top: 30px;
}
li{
list-style-type: none;
}

